@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
	/* COLORS SCHEME */
	--backgroundColor: #f5f2e5;
	--textColor: #49454f;
	--primaryColor: #1c1b1f;
	--primaryTextColor: var(--backgroundColor);
	--secondaryColor: #f0ce7f;
	--secondaryTextColor: var(--primaryColor);
}
html,
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-family: "Roboto";
}
#root {
	height: 100%;
}
