@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  /* DEFAULTS */
  --borderRadius: 1rem;
  --margin: 0.5rem;

  /* COLORS SCHEME */
  --backgroundColor: #f5f2e5;
  --textColor: #49454f;
  --primaryColor: #1c1b1f;
  --primaryTextColor: var(--backgroundColor);
  --secondaryColor: #f0ce7f;
  --secondaryTextColor: var(--primaryColor);

  /* BOX SHADOWS */
  --defaultShadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --defaultFilter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: "Roboto";
  overscroll-behavior-y: contain; /* Disable pull-down-to-refresh in Mobile*/
}
#root {
  height: 100%;
}
