#footer {
	height: 32px;
	bottom: 0;
	font-weight: 500;
	font-size: smaller;
	text-align: center;
}
#footer a {
	text-decoration: none;
	color: var(--textColor);
}
#footer a:hover {
	text-decoration: underline;
}

.quickSettings {
	position: fixed;
	display: inline-flex;
	inset: auto auto 0 0;
	font-size: 2.2rem;
	padding: 1rem;
}
.quickSettings * {
	cursor: pointer;
}
